@model ApplicationConfiguration

@{
    ViewData["Title"] = "AddOrEdit";
    var organizationSelectOptions = (List<SelectItem>)ViewBag.OrganizationSelectOptions;
    var configuratinDefinitionSelectOptions = (List<SelectItem>)ViewBag.ConfigurationDefinitationSelectOption;
}


<h4>ApplicationConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ApplicationCode" class="control-label"></label>
                <input asp-for="ApplicationCode" class="form-control" />
                <span asp-validation-for="ApplicationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label"></label>
                @Html.DropDownListFor(d=>d.OrganizationId, new SelectList(organizationSelectOptions, "Id", "Name"), "Select Organization", new {@class="form-control"})
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigurationDefinitionId" class="control-label"></label>
                @Html.DropDownListFor(d=>d.ConfigurationDefinitionId, new SelectList(configuratinDefinitionSelectOptions, "Id", "Name"), "Select Configuration Type", new {@class="form-control"})
                <span asp-validation-for="ConfigurationDefinitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigurationValue" class="control-label"></label>
                <input asp-for="ConfigurationValue" class="form-control" />
                <span asp-validation-for="ConfigurationValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

